/src/fs/files/fresh.txt
/src/fs/files_copy/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/.gitignore
/.idea/jsLibraryMappings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/node-nodejs-basics.iml
/.idea/prettier.xml
/.idea/vcs.xml
